:root{
    --white: #fff;
    --light-blue: #7386D5;
    --black: #000;
    --grey: #fafafa;
    --grey-lighter: #f3f3f3;
    --grey-darker: #cacaca;
    --yellow-darker:#f0a519;
    --grey-text: #6c6d70;
    --color-page-container: #e5ebf5;
    --color-card-bg:#e3e9f3;
    --color-card-border: #8CA2FF;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--grey);
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 8px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.category{
    background-color: var(--grey-lighter);
    padding: 10px 10px;
    margin: 0px 5px;
}

#to-do-cards-holder, #in-progress-cards-holder, #completed-cards-holder{
    background-color: var(--grey);
    padding: 0.5rem;
}

.badge{
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 2px;
}

.bg-grey{
    color: #000;
    background-color: var(--grey-darker);
}
.bg-yellow{
    background-color: var(--yellow-darker);
}
.card{
    background-color: var(--color-card-bg);
    font-size: 0.9rem;
    color: var(--grey-text);
    border-left: 5px solid var(--color-card-border);
    margin: 5px 0px;
}

.card p{
    line-height: 0.5;
}

.project-name{
    font-size: 1rem;
    font-weight:500;
    color: #000;
}

.predication-gradient{
    color: #fff;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,193,114,1) 0%, rgb(34, 201, 137) 17%, rgba(20,223,220,1) 38%, rgba(22,209,224,1) 57%, rgba(22,189,224,1) 69%, rgba(14,187,241,1) 85%); 
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--grey);
    color: var(--black);
    transition: all 0.3s;
    overflow-y: auto;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: var(--white);
}

#sidebar li:not(:last-child) {
    border-bottom: 2px solid var(--color-page-container);
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    /* font-size: 1.05em; */
    display: block;
}

#sidebar ul li a:hover {
    color: var(--light-blue);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: var(--light-blue);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.user-thumbnail{
    padding: 0.7rem !important;
}

.logo-container{
    width: 250px !important
}


/* ---------------------------------------------------
    PAGE WRAPPER STYLE
----------------------------------------------------- */

#page-content-wrapper {
    width: calc(100% - 250px);
    padding: 10px 30px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-page-container);
}

#page-content-wrapper.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #page-content-wrapper {
        width: 100%;
    }
    #page-content-wrapper.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}